<div class="layeroptionen">
    <label for="layertreePopNr" class="layertreePopStyle popNr">Nr.</label>
    <input type="radio" id="layertreePopNr" name="layertreePopLabel" class="layertreePopStyle popNr" checked="checked"> 
    <label for="layertreePopName" class="layertreePopStyle popName">Namen</label>
    <input type="radio" id="layertreePopName" name="layertreePopLabel" class="layertreePopStyle popName">
</div>