<div class="layeroptionen">
  <label for="layertreeTpopNr" class="layertreeTpopStyle tpopNr">Nr.</label>
  <input type="radio" id="layertreeTpopNr" name="layertreeTpopLabel" class="layertreeTpopStyle tpopNr" checked="checked"> 
  <label for="layertreeTpopName" class="layertreeTpopStyle tpopName">Namen</label>
  <input type="radio" id="layertreeTpopName" name="layertreeTpopLabel" class="layertreeTpopStyle tpopName">
</div>