<tr class="fieldcontain">
  <td class="label" style="padding-bottom:3px;">
    <label for="beobfelder_{{index}}">{{index}}</label>
  </td>
  <td class="Datenfelder" style="padding-bottom:3px;">
    <input id="beobfelder_{{index}}" class="Datenfelder" type="text" readonly="readonly" value="{{value}}">
  </td>
</tr>