<tr class="fieldcontain">
    <td class="label" style="padding-bottom:3px;">
        <label for="beobfelder_{{index}}">{{index}}</label>
    </td>
    <td class="Datenfelder" style="padding-bottom:3px;">
        <textarea id="beobfelder_{{index}}" class="Datenfelder" readonly="readonly">{{value}}</textarea>
    </td>
</tr>