<div class="layeroptionen">
    <label for="layertreePopNr" class="layertreePopStyle popNr">Nr.</label>
    <input type="checkbox" id="layertreePopNr" class="layertreePopStyle popNr" checked="checked"> 
    <label for="layertreePopName" class="layertreePopStyle popName">Namen</label>
    <input type="checkbox" id="layertreePopName" class="layertreePopStyle popName">
</div>